/* color palette
https://colorhunt.co/palette/7c3e66f2ebe9a5becc243a73
*/

html,
body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Spline Sans Mono', monospace;
    background-color: #7C3E66;
}

.header {
    background-color: #A5BECC;
    height: 10%;
}

.header-title {
    margin-left: 20px;
    font-weight: bolder;
    color: #243A73;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 40px;
    background-color: #7C3E66;
}

.calc-btn {
    width: 50px;
    height: 50px;
}

.calc {
    display: grid;
    font-family: 'Spline Sans Mono', monospace;
    gap: 3px;
    background-color: #A5BECC;
    /* repeat function 4 columns 1 fractional width each */
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
    grid-auto-flow: row;
    width: 250px;
}

[class^='grid-item'] {
    display: grid;
    background-color: #A5BECC;
    align-items: center;
    justify-content: center;
}

.grid-item0 {
    /* negative -1 equals the very last column value*/
    grid-column: 1/-1;
}

.grid-item17 {
    /* negative -1 equals the very last column value*/
    grid-column: 1/3;
}

#btn0 {
    width: 115px;
}