/* color palette
https://colorhunt.co/palette/f8ecd1deb6abac7d8885586f
*/

html,
body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    flex: 1 0 auto;
}

.footer {
    background-color: black;
    color: white;
}

.calculator {
    display: grid;
    grid-gap: 2px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px;
    background-color: #e4e4e4;
}





[class^='grid-item'] {
    outline: 3px dashed #f90;
    font-size: 10px;
    color: #333;
}

/*
ROW 1
*/
.grid-item-1{
    grid-row: 1;
    grid-column: 1;
}

.grid-item-2{
    grid-row: 1;
    grid-column: 2;
}

.grid-item-3{
    grid-row: 1;
    grid-column: 3;
}

.grid-item-4{
    grid-row: 1;
    grid-column: 4;
}

/*
ROW 2
*/
.grid-item-5{
    grid-row: 2;
    grid-column: 1;
}

.grid-item-6{
    grid-row: 2;
    grid-column: 2;
}

.grid-item-7{
    grid-row: 2;
    grid-column: 3;
}

.grid-item-8{
    grid-row: 2;
    grid-column: 4;
}

/*
ROW 3
*/
.grid-item-9{
    grid-row: 3;
    grid-column: 1;
}

.grid-item-10{
    grid-row: 3;
    grid-column: 2;
}

.grid-item-11{
    grid-row: 3;
    grid-column: 3;
}

.grid-item-12{
    grid-row: 3;
    grid-column: 4;
}

/*
ROW 4
*/
.grid-item-13{
    grid-row: 4;
    grid-column: 1;
}

.grid-item-14{
    grid-row: 4;
    grid-column: 2;
}

.grid-item-15{
    grid-row: 4;
    grid-column: 3;
}

.grid-item-16{
    grid-row: 4;
    grid-column: 4;
}

/*
ROW 5
*/
.grid-item-17{
    grid-row: 5;
    grid-column: 1;
}

.grid-item-18{
    grid-row: 5;
    grid-column: 2;
}

.grid-item-19{
    grid-row: 5;
    grid-column: 3;
}

.grid-item-20{
    grid-row: 5;
    grid-column: 4;
}


/*
ROW 6
*/
.grid-item-21{
    grid-row: 6;
    grid-column: 1;
}

.grid-item-22{
    grid-row: 6;
    grid-column: 2;
}

.grid-item-23{
    grid-row: 6;
    grid-column: 3;
}

.grid-item-24{
    grid-row: 6;
    grid-column: 4;
}