/* color palette
https://colorhunt.co/palette/f8ecd1deb6abac7d8885586f
*/

html,
body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    height: 10%;
}

.footer {
    
}

.container {
    display: flex;
    justify-content: center;
}

.calc {
    display: grid;
    font-family: sans-serif;
    gap: 3px;
    background-color: #ddd;
    /* repeat function 4 columns 1 fractional width each */
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: 50px;
    grid-auto-flow: row;
    width:250px;
}

[class^='grid-item'] {
    outline: 1px #f90 dashed;
    display: grid;
    background-color: darkcyan;
    align-items: center;
    justify-content: center;
  }

  .grid-item0 {
    /* negative -1 equals the very last column value*/
    grid-column: 1/-1;
  }

  .grid-item17 {
    /* negative -1 equals the very last column value*/
    grid-column: 1/3;
  }